/* Base Application Styles */
body {
  /*color: #fff;*/
  /*background: ;*/
}

.index img {
  margin: 40px auto;
  border-radius: 4px;
  background: #fff;
  display: block;
}

.index .notice {
  margin: 20px auto;
  padding: 15px 0;
  text-align: center;
  border: 1px solid #000;
  border-width: 1px 0;
  background: #666;
}

label {
  margin-right: 5px;
}

html {
  font-family: Roboto, Arial, Helvetica, sans-serif;
}

.bg-primary {
  background: rgb(0, 85, 150);
  color: white;
}

.no-margin {
  margin: 0;
}

.mt-5 {
  margin-top: 5px;
}

.clickable {
  cursor: pointer;
}

.flex-evenly {
  display: flex;
  justify-content: space-evenly;
  align-items: center;
}

.py-20 {
  padding: 20px 0 20px 0 !important;
}
